<p-confirmDialog></p-confirmDialog>
<p-toast position="top-right" life="4500"></p-toast>

<div class="p-grid" style="margin-top:20px;">
  <div class="p-col-4">
    <p-panel>
      <p-header>
        <table style="width:100%">
          <tr>
            <td><b>Weight Tracking</b></td>
            <td style="text-align:right">
              <button pButton type="button" class="ui-button-raised" icon="fas fa-plus" (click)="showAdd()"></button>
            </td>
          </tr>
        </table>
      </p-header>
      <p-table [value]="weights">
        <ng-template pTemplate="body" let-weight>
          <tr>
            <td>{{ weight.weightdate | date: 'MM/dd/yyyy' }}</td>
            <td>{{ weight.userweight }} lbs</td>
            <td style="text-align:right" width="115px">
              <button
                pButton
                type="button"
                icon="fas fa-trash-alt"
                class="ui-button-danger weightbutton"
                (click)="deleteClick(weight.id, weight.weightdate)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <div style="margin-top:10px;margin-bottom:10px; text-align:center;">None added</div>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
  <div class="p-col-8" style="background-color: white; margin-top:8px;">
    <p-chart type="line" [data]="weightData" [options]="options"></p-chart>
  </div>
</div>

<p-dialog [(visible)]="displayAdd" modal="true" resizable="false" closeOnEscape="false" [closable]="false">
  <p-header>Add Weight</p-header>
  <div style="min-height:150px;min-width:300px;padding-top:20px;">
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="weight">
      <div class="p-grid">
        <div class="p-col-3">Date</div>
        <div class="p-col-6">
          <p-calendar name="date" formControlName="weightdate" appendTo="body" [showIcon]="true"></p-calendar>
        </div>
      </div>
      <div class="error" *ngIf="weight.get('weightdate').hasError('required') && weight.get('weightdate').touched">
        Date required
      </div>
      <div class="p-grid" style="margin-top:10px;">
        <div class="p-col-3">Weight</div>
        <div class="p-col-6">
          <p-spinner name="weight" formControlName="userweight" size=5 [min]="1"></p-spinner>
        </div>
      </div>
      <div class="error" *ngIf="weight.get('userweight').hasError('required') && weight.get('userweight').touched">
        Weight is required
      </div>
      <div style="margin-top:40px;text-align:right;">
        <button
          pButton
          type="button"
          label="Cancel"
          class="ui-button-secondary weightbutton"
          (click)="displayAdd = false"
        ></button>
        <button pButton type="submit" [disabled]="weight.invalid" label="Add" class="ui-button-primary weightbutton"></button>
      </div>
    </form>
  </div>
</p-dialog>
