<p-confirmDialog></p-confirmDialog>
<p-toast position="top-right" life="4500"></p-toast>

<div class="p-grid">
  <div class="p-col">
    <p-panel>
      <p-header>
        <table style="width:100%">
          <tr>
            <td><b>Weight Tracking</b></td>
            <td style="text-align:right">
              <button pButton type="button" class="ui-button-raised" icon="fas fa-plus" (click)="showAdd()"></button>
            </td>
          </tr>
        </table>
      </p-header>
      <p-table [value]="weights">
        <ng-template pTemplate="body" let-weight>
          <tr>
            <td>{{ weight.weightdate | date: 'MM/dd/yyyy' }}</td>
            <td>{{ weight.userweight }} lbs</td>
            <td style="text-align:right" width="115px">
              <button pButton type="button" icon="fas fa-edit" class="ui-button-success weightbutton"></button>
              <button pButton type="button" icon="fas fa-trash-alt" class="ui-button-danger weightbutton" (click)="deleteClick(weight.id, weight.weightdate)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
  <div class="p-col"><p-chart type="line" [data]="weightData" [options]="options"></p-chart></div>
</div>

<p-dialog [(visible)]="displayAdd" modal="true" resizable="false" closeOnEscape="false" [closable]="false">
  <p-header> Header content here </p-header>
  <div style="min-height:150px;min-width:300px;padding-top:20px;">

      <form #form="ngForm">
          <label for="weightDate" style="display:block;margin-bottom:4px">Date</label>
          <input id="weightDate" type="text" size="30" pInputText>

          <label for="float-input" style="display:block;margin-bottom:4px">Weight</label>
          <input id="float-input" type="text" size="30" pInputText pKeyFilter="num">
      </form>
  </div>
  <p-footer>
    <button pButton type="button" label="Cancel" class="ui-button-secondary weightbutton" (click)="displayAdd = false"></button>
    <button pButton type="button" label="Add" class="ui-button-primary weightbutton"></button>

  </p-footer>
</p-dialog>


