<div style="min-height:150px;min-width:400px;padding-top:20px;padding-left:20px;">
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="food">
    <div class="p-grid">
      <div class="p-col-3">Food Name:</div>
      <div class="p-col-6">
        <input type="text" formControlName="foodname" pInputText />
      </div>
    </div>
    <div class="error" *ngIf="food.get('foodname').hasError('required') && food.get('foodname').touched">
      Food name is required
    </div>

    <div class="p-grid" style="margin-top:10px;">
      <div class="p-col-3">Calories:</div>
      <div class="p-col-6">
        <p-spinner size="6" formControlName="calories" [step]="0.1" [min]="0"></p-spinner>
      </div>
    </div>
    <div class="error" *ngIf="food.get('calories').hasError('required') && food.get('calories').touched">
      Calories is required
    </div>

    <div class="p-grid" style="margin-top:10px;">
      <div class="p-col-3">Fat:</div>
      <div class="p-col-6">
        <p-spinner size="6" formControlName="fat"  [step]="0.1" [min]="0"></p-spinner>
      </div>
    </div>
    <div class="error" *ngIf="food.get('fat').hasError('required') && food.get('fat').touched">
      Fat is required
    </div>

    <div class="p-grid" style="margin-top:10px;">
      <div class="p-col-3">Carbs:</div>
      <div class="p-col-6">
        <p-spinner size="6" formControlName="carbs" [step]="0.1" [min]="0"></p-spinner>
      </div>
    </div>
    <div class="error" *ngIf="food.get('carbs').hasError('required') && food.get('carbs').touched">
      Carbs is required
    </div>

    <div class="p-grid" style="margin-top:10px;">
      <div class="p-col-3">Fiber:</div>
      <div class="p-col-6">
        <p-spinner size="6"  formControlName="fiber" [step]="0.1" [min]="0"></p-spinner>
      </div>
    </div>
    <div class="error" *ngIf="food.get('fiber').hasError('required') && food.get('fiber').touched">
      Fiber is required
    </div>

    <div class="p-grid" style="margin-top:10px;">
      <div class="p-col-3">Sugars:</div>
      <div class="p-col-6">
        <p-spinner size="6"  formControlName="sugars" [step]="0.1" [min]="0"></p-spinner>
      </div>
    </div>
    <div class="error" *ngIf="food.get('sugars').hasError('required') && food.get('sugars').touched">
      Sugars is required
    </div>

    <div class="p-grid" style="margin-top:10px;">
      <div class="p-col-3">Protein:</div>
      <div class="p-col-6">
        <p-spinner size="6"  formControlName="protein"  [step]="0.1" [min]="0"></p-spinner>
      </div>
    </div>
    <div class="error" *ngIf="food.get('protein').hasError('required') && food.get('protein').touched">
      Protein is required
    </div>

    <div class="p-grid" style="margin-top:10px;">
      <div class="p-col-3">Measure:</div>
      <div class="p-col-6">
        <input type="text"  formControlName="measure"  pInputText />
      </div>
    </div>
    <div class="error" *ngIf="food.get('measure').hasError('required') && food.get('measure').touched">
      Measure is required
    </div>

    <div style="margin-top:40px;text-align:right;margin-bottom:10px">
      <button
        pButton
        type="button"
        label="Cancel"
        class="ui-button-secondary formbutton"
        (click)="closeForm()"
      ></button>
      <button pButton type="submit" [disabled]="food.invalid" label="Add" class="ui-button-primary formbutton"></button>
    </div>
  </form>
</div>
