.header {
  background-color: rgb(84,91,97);
  height: 51px;
  margin: auto;
}

.headerbutton {
  background-color: white;
  margin-top: 10px;
  margin-left:15px;
  margin-right:15px;
  color: black;
  border: none;
}

.topnav {
  background-color: rgb(84,91,97);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width:175px;
  font-family: 'Open Sans', lato, 'Helvetica Neue', sans-serif;
}

.topnav a:hover {
  background-color: #333;
}

.left {
  float: left;
}

.right {
  float: right;
}
