<p-confirmDialog [rejectVisible]="false" acceptLabel="Ok"></p-confirmDialog>

<div class="p-grid p-align-center " style="height:100%">
  <div class="p-col-8"></div>
  <div class="p-col-3">
    <p-card>
      <p-header> <h1 align="center" style="padding-top:20px;">DietTracker Registration</h1> </p-header>
      <div style="min-height:600px; padding-left:20px;padding-right:20px;">
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="registerForm">
          <div class="error" *ngIf="errors.non_field_errors" style="margin-bottom:10px;">
            <span *ngFor="let error of errors.non_field_errors">{{ error }}<br /></span>
          </div>

          <div formGroupName="nameGroup" novalidate>
            <div>First Name</div>
            <div><input type="text" formControlName="firstName" pInputText style="width:300px;" autofocus /></div>
            <div
              class="error"
              *ngIf="
                registerForm
                  .get('nameGroup')
                  .get('firstName')
                  .hasError('required') && registerForm.get('nameGroup').get('firstName').touched
              "
            >
              First name is required
            </div>

            <div style="margin-top:20px;">Last Name</div>
            <div><input type="text" formControlName="lastName" pInputText style="width:300px;" /></div>
            <div
              class="error"
              *ngIf="
                registerForm
                  .get('nameGroup')
                  .get('lastName')
                  .hasError('required') && registerForm.get('nameGroup').get('lastName').touched
              "
            >
              Last name is required
            </div>
          </div>
          <div formGroupName="emailGroup" novalidate>
            <div style="margin-top:20px;">Email Address</div>
            <div><input type="text" formControlName="email" pInputText style="width:300px;" /></div>
            <div
              class="error"
              *ngIf="
                registerForm
                  .get('emailGroup')
                  .get('email')
                  .hasError('required') && registerForm.get('emailGroup').get('email').touched
              "
            >
              Email address is required
            </div>
            <div
              class="error"
              *ngIf="
                registerForm
                  .get('emailGroup')
                  .get('email')
                  .hasError('email') && registerForm.get('emailGroup').get('email').touched
              "
            >
              Email must be a valid email address
            </div>
            <div class="error" *ngIf="errors.email" style="margin-bottom:10px;">
                <span *ngFor="let error of errors.email">{{ error }}<br /></span>
            </div>

            <div style="margin-top:20px;">Confirm Email Address</div>
            <div><input type="text" formControlName="confirmEmail" pInputText style="width:300px;" /></div>
            <div
              class="error"
              *ngIf="
                registerForm
                  .get('emailGroup')
                  .get('confirmEmail')
                  .hasError('required') && registerForm.get('emailGroup').get('confirmEmail').touched
              "
            >
              Confirm Email address is required
            </div>
            <div
              class="error"
              *ngIf="
                registerForm
                  .get('emailGroup')
                  .get('confirmEmail')
                  .hasError('email') && registerForm.get('emailGroup').get('confirmEmail').touched
              "
            >
              Email must be a valid email address
            </div>
            <div
              class="error"
              *ngIf="
                registerForm
                  .get('emailGroup')
                  .get('confirmEmail')
                  .hasError('notEqual') && registerForm.get('emailGroup').get('confirmEmail').touched
              "
            >
              Email and Confirm Email do not match
            </div>
          </div>

          <div formGroupName="passwordGroup" novalidate>
            <div style="margin-top:20px;">Password</div>
            <div><input type="password" formControlName="password" pInputText style="width:200px;" /></div>
            <div
              class="error"
              *ngIf="
                registerForm
                  .get('passwordGroup')
                  .get('password')
                  .hasError('required') && registerForm.get('passwordGroup').get('password').touched
              "
            >
              Password is required
            </div>

            <div
              class="error"
              *ngIf="
                registerForm
                  .get('passwordGroup')
                  .get('password')
                  .hasError('minlength') && registerForm.get('passwordGroup').get('password').touched
              "
            >
              Password must be 8 characters or more
            </div>
            <div style="margin-top:20px;">Confirm Password</div>
            <div><input type="password" formControlName="confirmPassword" pInputText style="width:200px;" /></div>
            <div
              class="error"
              *ngIf="
                registerForm
                  .get('passwordGroup')
                  .get('confirmPassword')
                  .hasError('required') && registerForm.get('passwordGroup').get('confirmPassword').touched
              "
            >
              Confirm Password is required
            </div>
            <div
              class="error"
              *ngIf="
                registerForm
                  .get('passwordGroup')
                  .get('confirmPassword')
                  .hasError('notEqual') && registerForm.get('passwordGroup').get('confirmPassword').touched
              "
            >
              Password and Confirm Password do not match
            </div>
          </div>


          <div style="margin-top:20px;"  *ngIf="recaptcha.render">
           <!-- <ng-container > -->
              <p-captcha siteKey="6Ldv8ngUAAAAAA58h5b8-WKLAHNrK_tlhWkZXmHu" (onResponse)="showResponse($event)" (onExpire)="expireCaptcha()"></p-captcha>
           <!-- </ng-container> -->
          </div>

          <div style="margin-top:40px;text-align:left;margin-bottom:10px">
            <button routerLink="/home" pButton type="button" label="Cancel" class="ui-button-info formbutton"></button>
            <button
              pButton
              type="submit"
              [disabled]="registerForm.invalid || !captchaValid"
              label="Register"
              class="ui-button-primary formbutton"
            ></button>
          </div>
        </form>
      </div>
    </p-card>
  </div>
</div>
