<div>
  <div>
    <p-card>
      <span>Welcome to DietTracker. Please login using your email address and password. If you do not have an account,
        please <a routerLink="/register">register</a> to create one.</span>
      <div>
        Email Address
      </div>
      <div>
        <input type="text" pInputText [(ngModel)]="user.username" />
        <span *ngFor="let error of errors.username">
          <br />{{ error }}
        </span>
      </div>
      <div>
        Password
      </div>
      <div>
        <input type="password" pInputText [(ngModel)]="user.password" />
        <span *ngFor="let error of errors.password"><br />
          {{ error }}</span>
      </div>
      <div>
          <span *ngFor="let error of errors.non_field_errors">{{ error }}<br /></span>
      </div>
      <div>
          <button routerLink="/register" pButton type="button" class="ui-button-info">Register</button>
          <button pButton type="button" class="ui-button-primary" (click)="login()">Login</button>
      </div>
    </p-card>
  </div>
</div>
